/* Aqui ponho as cores */
:root {
  --vt-c-white: #ECFEF3;

  --vt-c-black: #0A0A16;

}

/* aqui é para defenir como são defenidas as cores do tema claro*/
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white);
  --color-background-mute: var(--vt-c-white);

  --color-border: var(--vt-c-white);
  --color-border-hover: var(--vt-c-white);

  --color-heading: var(--vt-c-white);
  --color-text: var(--vt-c-black);

  --section-gap: 160px;
}
/* e aqui o escuro */
@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black);
    --color-background-mute: var(--vt-c-black);

    --color-border: var(--vt-c-black);
    --color-border-hover: var(--vt-c-black);

    --color-heading: var(--vt-c-black);
    --color-text: var(--vt-c-white);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}
/* Aqui é o inicio da personalização, só as cores base*/
body {
  color: var(--color-text);
  background: var(--color-background);
}
